{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}

  <h1>{% trans "Register" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>

  <form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="row">
      <div class="col-12 text-end mt-3">
        <button class="btn cta-button" type="submit">{% trans "Register" %} &raquo;</button>
      </div>
    </div>

  </form>

{% endblock %}