{% extends "base.html" %} {% load static %} 
{% block extra_title %}
 - Home
{% endblock %}
{% block main_content %}

<div class="row home-banner">
    <div class="col-12">
        <div class="row justify-content-end py-5 px-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3 my-5 text-end home-banner-text rounded h-auto">
                <h1 class="text-l-green text-end">Farm To Fork</h1>
                <p class="text-l-green text-end">
                    Find the freshest produce from your local farmer.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 mt-5">
        <hr>
    </div>
    <div class="col-12 text-center rounded border border-2 border-d-green my-5 pb-5 bg-p-green">
        <h3 class="text-center py-3">Popular Farmers</h3>
        <ul class="slick-slider pb-5 pt-0 px-0 m-0">
            {% for farmer in farmers %}
            <li class="slick-slider-slide-item">
                <a href="{% url 'profile' farmer.user.id %}">
                    <div class="col-12 p-2">
                        <div class="card bg-l-green border-d-green border border-3 p-2">
                            <div class="row g-0">
                                <div class="col-12 d-flex align-items-center">
                                    <a class="product-card-image" href="{% url 'profile' farmer.user.id %}">
                                        {% if item.product.image %}
                                        <img class="product-card-image img-fluid rounded" src="{{ farmer.image.url }}"
                                            alt="{{ farmer.user.username }}'s profile picture">
                                        {% elif product.image_url %}
                                        <img class="product-card-image img-fluid rounded" src="{{ farmer.image_url }}"
                                            alt="{{ farmer.user.username }}'s profile picture">
                                        {% else %}
                                        <img class="product-card-image img-fluid rounded"
                                            src="{{ MEDIA_URL }}product-image-placeholder.png"
                                            alt="{{ farmer.user.username }}'s profile picture">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-12">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'profile' farmer.user.id %}">
                                                {{ farmer.first_name }}
                                                {{ farmer.last_name }}
                                            </a>
                                        </h5>
                                        <p class="card-text">
                                            {{ farmer.bio|truncatewords:10 }}
                                        </p>
                                        <p class="card-text text-center">
                                            <a class="btn cta-button" href="{% url 'profile' farmer.user.id %}">
                                                View Profile
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12 text-center rounded border border-2 border-d-green my-5 pb-5 bg-p-green">
        <h3 class="text-center py-3">Popular Products</h3>
        <ul class="slick-slider pb-5 pt-0 px-0 m-0">
            {% for item in product_list.values %}
            <li class="slick-slider-slide-item">
                <div class="col-12 p-2">
                    <div class="card bg-l-green border-d-green border border-3 p-2">
                        <div class="row g-0">
                            <div class="col-12 d-flex align-items-center">
                                <a class="product-card-image" href="{% url 'product-detail' item.product.id %}">
                                    {% if item.product.image %}
                                    <img class="product-card-image img-fluid rounded" src="{{ item.product.image.url }}"
                                        alt="{{ item.product.name }}">
                                    {% elif product.image_url %}
                                    <img class="product-card-image img-fluid rounded" src="{{ item.product.image_url }}"
                                        alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="product-card-image img-fluid rounded"
                                        src="{{ MEDIA_URL }}product-image-placeholder.png"
                                        alt="{{ item.product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'product-detail' item.product.id %}">
                                            {{ item.product.name }}
                                        </a>
                                    </h5>
                                    <small>Grown by:
                                        <a href="{% url 'profile' item.product.created_by.id %}">
                                            {{ item.product.created_by.profile.first_name }}
                                            {{ item.product.created_by.profile.last_name }}
                                        </a>
                                    </small>
                                    <p class="card-text">
                                        Available in:
                                        <ul class="list-group carousel-card-list-group">
                                            {% for variant in item.variants %}
                                            {% if forloop.counter < 3 %}
                                            <li class="list-group-item">
                                                {{ variant.size|cut:".00" }}
                                                {{ variant.unit }}:
                                                €{{ variant.price|cut:".00" }}
                                                {% endif %}
                                            </li>
                                            {% if item.variants|length > 2 and forloop.counter == 3 %}
                                            <li class="list-group-item">
                                            <a href="{% url 'product-detail' item.product.id %}">
                                                ...see more
                                            </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </p>
                                    <p class="card-text text-center">
                                        <a class="btn cta-button"
                                            href="{% url 'product-detail' item.product.id %}">Details
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<button type="button" class="slick-prev"><i class="fas fa-arrow-circle-left"></i></button>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slick-slider').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            autoplay: false,
            autoplaySpeed: 2000,
            centerMode: true,
            arrows: true,
            prevArrow: '<button type="button" class="slick-prev text-primary-dark"><i class="fas fa-arrow-circle-left fs-1 text-primary-dark"></i></button>',
            nextArrow: '<button type="button" class="slick-next text-primary-dark"><i class="fas fa-arrow-circle-right fs-1 text-primary-dark"></i></button>',
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                }
            ]
        });
    });
</script>
{% endblock %}