[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-countries = "*"
pillow = "*"
django-extra-views = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
django-multi-form-view = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.9"
