{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/farmermap.css' %}">
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <div id="map"></div>
        </div>
    </div>
</div>

{{ markers }}

{{ markers|json_script:"markers-data" }}
<script>
    const map = L.map('map', {
        center: [53.2755, -7.4933],
        zoom: 13
    });


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', { foo: 'bar', attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);
    const markers = JSON.parse(document.getElementById('markers-data').textContent);
    let url = "{% url 'profile' 'replacethistext' %}";
    let feature = L.geoJSON(markers).bindPopup(function (layer) {
        let profileUrl = url.replace('replacethistext', layer.feature.properties.user)
        return `<h6>${layer.feature.properties.first_name}` +
            `${layer.feature.properties.last_name}<h6>` +
            `<a href="${profileUrl}"">Profile</a>`;
    }).addTo(map);

</script>
<!-- <script src="{% static 'js/mapView.js' %}"></script> -->
{% endblock %}