{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
    {% endblock %}
    {% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/farmermap.css' %}">
    {% endblock %}
{% block main_content %}
    <div class="col-auto">
        {{ markers|json_script:"markers-data" }}
        <div id="map"></div>
    </div>
<script src="{% static 'js/mapView.js' %}"></script>
{% endblock %}