{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<link rel="stylesheet" href="{% static 'profiles/css/farmermap.css' %}">

{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}
{% block extra_title %}
- Farmer Map
{% endblock %}

{% block main_content %}
<div class="row justify-content-center py-2">
    <h3 class="text-center">
        Farmer Map
    </h3>
</div>
<div id="map" class="my-2"></div>


{{ markers|json_script:"markers-data" }}
<script>
    const map = L.map('map', {
        center: [53.2625652, -9.070427],
        zoom: 9
    });


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {
        foo: 'bar',
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    const markers = JSON.parse(document.getElementById('markers-data').textContent);
    let url = "{% url 'profile' 'replacethistext' %}";
    let feature = L.geoJSON(markers).bindPopup(function (layer) {
        console.log(layer.feature.properties.fields.user)
        let profileUrl = url.replace('replacethistext', layer.feature.properties.fields.user)
        return `
        <div class="card bg-l-green border-d-green row g-0">
            <div class="col-12 text-center">
                <h6>${layer.feature.properties.fields.first_name} ${layer.feature.properties.fields.last_name}<h6>
                </div>
            <div class="col-12 text-center">
                <a class="btn btn-sm cta-button-secondary" href="${profileUrl}">Profile</a>
            </div>
        </div>
        `
    }).addTo(map);
</script>
{% endblock %}