{% extends "base.html" %} {% load static %} {% block main_content %}
<ul>
    <li>
        {{ user_profile }}
    </li>
    <li>
        {{ user_profile.first_name }}
    </li>
    <li>
        {{ user_profile.last_name }}
    </li>
    <li>
        {{ user_profile.phone_number }}
    </li>
    <li>
        {{ user_profile.street_address1 }}
    </li>
    <li>
        {{ user_profile.street_address2 }}
    </li>
    <li>
        {{ user_profile.town_or_city }}
    </li>
    <li>
        {{ user_profile.county }}
    </li>
    <li>
        {{ user_profile.postcode }}
    </li>
    <li>
        {{ user_profile.country }}
    </li>
    <li>
        latitude: {{ user_profile.latitude }}
    </li>
    <li>
        longitude: {{ user_profile.longitude }}
    </li>
    <li>
        location: {{ user_profile.location }}
    </li>
</ul>
{% endblock %}