{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block main_content %}
<div class="row justify-content-center py-5">
    <div class="col-12 col-lg-10 text-center">

        <h3 class="text-center pb-3 pt-2">
            Payment successful
        </h3>
        <small class="text-center">You order details and delivery/collection information have been sent to:
            <strong>{{ order.email }}</strong></small>
        <div class="row justify-content-center pt-4">
            <h5 class="text-center py-2">Order Summary:</h5>
            <div class="col-3">
                <h6 class="text-center">Product</h6>
            </div>
            <div class="col-3">
                <h6 class="text-center">Quantity</h6>
            </div>
            <div class="col-3">
                <h6 class="text-center">Subtotal</h6>
            </div>
            <div class="col-3">
                <h6 class="text-center fs-6">Delivery</h6>
            </div>
        </div>
        <hr>
        {% for item in order_line_items %}
        <div class="row item-row align-items-center">
            <div class="col-3 text-center">
                <small class="text-center">
                    <a href="{% url 'product-detail' item.product.product.id %}">
                        {{ item.product.product.name }}, {{ item.product.size|cut:".00" }}{{ item.product.unit }},
                        €{{ item.product.price|cut:".00" }}
                    </a>
                </small>
            </div>
            <div class="col-3 text-center">
                <small class="text-center">
                    {{ item.quantity }}
                </small>
            </div>
            <div class="col-3 text-center">
                <small class="text-center">
                    €{{ item.lineitem_total }}
                </small>
            </div>
            {% if item.delivery %}
            <div class="col-3 text-center">
                <small class="text-center">
                    <span class="badge bg-success text-l-green rounded-pill fs-6">
                        Yes
                    </span>
                </small>
            </div>
            {% else %}
            <div class="col-3 text-center">
                <small class="text-center">
                    <span class="badge bg-red text-l-green rounded-pill fs-6">
                        No
                    </span><br>
                    <button
                        class="btn btn-sm add-variant-button border-2 border-primary-dark bg-d-green text-l-green w-auto mt-2"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}"
                        aria-expanded="false" aria-controls="collapse{{ item.id }}">
                        Show collection details
                    </button>
                </small>
            </div>
            {% with item.product.product.created_by.profile as farmer %}
            <div class="col-12 collapse" id="collapse{{ item.id }}">
                <div class="card bg-l-green card-body">
                    <div class="row g-0">
                        <div class="col-auto">
                            <h6 class="card-title">
                                <a target="_blank" href="{% url 'profile' farmer.user.id %}">
                                    {{ farmer.first_name }} {{ farmer.last_name }}
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}

            {% endif %}
        </div>
        <hr>
        {% endfor %}
        <div class="row justify-content-end">
            <div class="col-3 text-center">
                <small>
                    <strong>
                        Total: €{{ order.order_total }}
                    </strong>
                </small>
            </div>
            <hr>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-8 col-lg-5">
                <h5 class="text-center py-2">Your delivery details:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Name: {{ order.first_name }}
                        {{ order.last_name }}
                    </li>
                    <li class="list-group-item">
                        Phone: {{ order.phone_number }}
                    </li>
                    <li class="list-group-item">
                        Email: {{ order.email }}
                    </li>
                    <li class="list-group-item">
                        {{ order.address.street_address1 }}
                    </li>
                    <li class="list-group-item">
                        {{ order.address.street_address2 }}
                    </li>
                    <li class="list-group-item">
                        {{ order.address.town_or_city }}
                    </li>
                    <li class="list-group-item">
                        {{ order.address.county }}
                    </li>
                    <li class="list-group-item">
                        {{ order.address.postcode }}
                    </li>
                    <li class="list-group-item">
                        {{ order.address.country }}
                    </li>
                </ul>
            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <p>
                    Register here to save this order and address to a new profile.
                </p>
                <a class="btn cta-button" href="{% url 'register-with-order' order.order_number %}">Register</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}