{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}
- Payment Success
{% endblock %}
{% block main_content %}
<div class="row justify-content-center py-5">
    <div class="col-12 col-lg-10 text-center">
        <h3 class="text-center pb-3 pt-2">
            Payment successful
        </h3>
        <small class="text-center">You order details and delivery/collection information have been sent to:
            <strong>{{ order.email }}</strong></small>
        {% include 'includes/checkout/order-summary.html' %}
        {% if not request.user.is_authenticated and not order.user %}
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <p>
                    Register here to save this order and address to a new profile.
                </p>
                <a class="btn cta-button" href="{% url 'register-with-order' order.order_number %}">Register</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}