{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}
- Order Detail
{% endblock %}
{% block main_content %}
<div class="row justify-content-center py-5">
    <div class="col-12 col-lg-10 text-center">
        <h3 class="text-center pb-3 pt-2">
            Order of {{ order.product_count }} product{{ order.product_count|pluralize }} on {{ order.order.date }}
        </h3>
        <div class="row justify-content-center pt-4">
            <h5 class="text-center py-2">Order Summary:</h5>
            <div class="col-3">
                <h6 class="text-center">Product</h6>
            </div>
            <div class="col-3">
                <h6 class="text-center">Quantity</h6>
            </div>
            <div class="col-3">
                <h6 class="text-center">Subtotal</h6>
            </div>
            <div class="col-3">
                <h6 class="text-center fs-6">Delivery</h6>
            </div>
        </div>
        <hr>
        <div class="row item-row align-items-center">
            <div class="col-9 align-self-start">
                {% for item in line_items %}
                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <small class="text-center">
                            <a href="{% url 'product-detail' item.product.product.id %}">
                                {{ item.product.product.name|truncatechars:10 }}
                                ({{ item.product.size|cut:".00" }}{{ item.product.unit }},
                                €{{ item.product.price|cut:".00" }})
                            </a>
                        </small>
                    </div>
                    <div class="col-4 text-center">
                        <small class="text-center">
                            {{ item.quantity }}
                        </small>
                    </div>
                    <div class="col-4 text-center">
                        <small class="text-center">
                            €{{ item.lineitem_total }}
                        </small>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-3">
                <div class="row align-items-center">
                    {% if order.delivery %}
                    <div class="col-12 text-center p-0">
                        <small class="text-center">
                            <span class="badge bg-success text-l-green rounded-pill fs-6">
                                Yes
                            </span><br>
                            Distance: {{ order.distance }}km
                        </small>
                    </div>
                    {% else %}
                    <div class="col-12 text-center p-0">
                        <small class="text-center">
                            <span class="badge bg-red text-l-green rounded-pill fs-6">
                                No
                            </span><br>
                            Distance: {{ order.distance }}km
                        </small>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            <div class="col-3 text-center">
                <small>
                    <strong>
                        Total: €{{ order.farmer_order_total }}
                    </strong>
                </small>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-8 col-lg-5">
                <h5 class="text-center py-2">Customer Information:</h5>
                <ul class="list-group list-group-flush text-start">
                    <li class="list-group-item">
                        <strong>Name:</strong> {{ order.order.first_name }}
                        {{ order.order.last_name }}
                    </li>
                    <li class="list-group-item">
                        <strong>Phone:</strong> {{ order.order.phone_number }}
                    </li>
                    <li class="list-group-item">
                        <strong>Email:</strong> {{ order.order.email }}
                    </li>
                    <li class="list-group-item">
                        <strong>
                            Address:
                        </strong>
                    </li>
                    <li class="list-group-item">
                        {{ order.order.address.street_address1 }}
                    </li>
                    <li class="list-group-item">
                        {{ order.order.address.street_address2 }}
                    </li>
                    <li class="list-group-item">
                        {{ order.order.address.town_or_city }}
                    </li>
                    <li class="list-group-item">
                        {{ order.order.address.county }}
                    </li>
                    <li class="list-group-item">
                        {{ order.order.address.postcode }}, {{ order.order.address.country }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}