{% extends "base.html" %} {% load static %}
{% load check_group %}
{% block main_content %}
<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col text-center">
            <h5 class="text-center">My Orders:</h5>
            {% if my_orders %}       
            <ul>
                {% for item in my_orders %}
                <li>
                    {{ item }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <small class="text-center">
                You haven't placed any orders yet.
            </small>
            {% endif %}
            <h5 class="text-center">Incoming Orders:</h5>
            {% if request.user|has_group:'Farmers' and incoming_orders %}
            <ul>
                {% for item in incoming_orders.values %}
                <li>
                    <h6>
                        {{ item.order }}
                    </h6>
                    <ul>
                        {% for line_item in item.line_items.values %}
                        <li>
                            {{ line_item }}, id {{ line_item.id }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <small class="text-center">
                You haven't received any incoming orders yet.
            </small>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}