{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/stripe.css' %}">
{% endblock %}
{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
{% endblock %}
{% block extra_title %}
- Secure Checkout
{% endblock %}

{% block main_content %}
<div class="row justify-content-center py-5">
    <h3 class="text-center pb-3 pt-2">
        Secure Checkout:
    </h3>
    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-8 col-lg-5 text-center">
            <small class="text-center">
                <strong class="text-uppercase text-center">
                    Please note the maximum delivery distance is 10km. Items that are not marked for delivery will need
                    to be collected. Collection information
                    will be sent in an order confirmation email.
                </strong>
            </small>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            <form id="payment-form" method="POST" class="row gy-2 gx-3 align-items-center justify-content-center"
                method="POST">
                {% csrf_token %}
                <!--Stripe.js injects the Card Element-->
                <div id="card-element">
                </div>
                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                <input type="hidden" value="{{ stripe_public_key }}" name="stripe_public_key">
                <input type="hidden" value="{{ order.first_name }}" name="first_name">
                <input type="hidden" value="{{ order.last_name }}" name="last_name">
                <input type="hidden" value="{{ order.phone_number }}" name="phone_number">
                <input type="hidden" value="{{ order.email }}" name="email">
                <input type="hidden" value="{{ order.address.street_address1 }}" name="street_address1">
                <input type="hidden" value="{{ order.address.street_address2 }}" name="street_address2">
                <input type="hidden" value="{{ order.address.street_address2 }}" name="street_address2">
                <input type="hidden" value="{{ order.address.town_or_city }}" name="town_or_city">
                <input type="hidden" value="{{ order.address.county }}" name="county">
                <input type="hidden" value="{{ order.address.postcode }}" name="postcode">
                <input type="hidden" value="{{ order.address.country }}" name="country">
                <input type="hidden" value="{{ order.order_number }}" name="order_number">
                <h5 class="text-center">Amount: €{{ order.order_total }}</h5>
                <input id="submit-button" class="btn btn-lg cta-button w-auto mb-3" type="submit" value="Pay Now" />
            </form>
        </div>
    </div>
</div>
{% include 'includes/checkout/order-summary.html' %}
{% endblock %}
{% block body_end_js %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}