{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

  <h1>{% trans "Register" %}</h1>


  <form class="" id="signup_form" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="row">
      <div class="col-12 text-end mt-3">
        <button class="btn cta-button" type="submit">{% trans "Register" %} &raquo;</button>
      </div>
    </div>

  </form>

{% endblock %}