*{
    padding: 0;
    margin: 0;
}

.mh-100vh {
    min-height: 100vh;
}

.text-red {
    color: red;
}

/* NAVBAR */
.search-dropdown-form {
    min-width: 12em;
}

.message-container {
    position: fixed;
    top: 100x;
    right: 20px;
    z-index: 99999999999;
}

.home-banner {
    background: url('/media/home-banner.jpg') no-repeat;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}