/* ***** COLORS ***** */
:root {
    --dark-green: #97b498;
    --light-green: #fbfffc;
    --primary-green: #c8e6c9;
    --primary-brown: #ffa726;
    --light-brown: #ffd95b;
    --dark-brown: #c77800;
    --main-text: #3C4E3D;
}

.text-main {
    color: var(--main-text);
}

.text-d-green {
    color: var(--dark-green);
}

.bg-d-green {
    background-color: var(--dark-green);
}

.border-d-green {
    border-color: var(--dark-green);
}

.bg-l-green {
    background-color: var(--light-green);
}

.bg-p-green {
    background-color: var(--primary-green);
}

.text-p-brown {
    color: var(--primary-brown);
}

.bg-p-brown {
    background-color: var(--primary-brown);
}

.text-l-brown {
    color: var(--light-brown);
}

.bg-l-brown {
    background-color: var(--light-brown);
}

.text-d-brown {
    color: var(--dark-brown);
}

.bg-d-brown {
    background-color: var(--dark-brown);
}

*{
    padding: 0;
    margin: 0;
}

.mh-100vh {
    min-height: 100vh;
}

.text-red {
    color: red;
}

/* NAVBAR */
.search-dropdown-form {
    min-width: 12em;
}

.message-container {
    position: fixed;
    top: 100x;
    right: 20px;
    z-index: 99999999999;
}

.home-banner {
    background: url('/media/home-banner.jpg') no-repeat;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}