/* ***** COLORS ***** */

/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=C8E6C9&secondary.color=FFA726 */

:root {
    --dark-green: #97b498;
    --light-green: #fbfffc;
    --primary-green: #c8e6c9;
    --primary-brown: #ffa726;
    --light-brown: #ffd95b;
    --dark-brown: #c77800;
    /* --primary-dark: #3C4E3D; */
    --primary-dark: #1a201a;
}

.text-primary-dark {
    color: var(--primary-dark) !important;
}

.border-primary-dark {
    border-color: var(--primary-dark) !important;
}

.text-red {
    color: #ff1744 !important;
}

.bg-red {
    background-color: #ff1744 !important;
}

.bg-primary-dark {
    background-color: var(--primary-dark) !important;
}

.text-d-green {
    color: var(--dark-green) !important;
}

.bg-d-green {
    background-color: var(--dark-green) !important;
}

.border-d-green {
    border-color: var(--dark-green) !important;
}

.text-l-green {
    color: var(--light-green) !important;
}

.bg-l-green {
    background-color: var(--light-green) !important;
}

.bg-p-green {
    background-color: var(--primary-green) !important;
}

.text-p-brown {
    color: var(--primary-brown) !important;
}

.bg-p-brown {
    background-color: var(--primary-brown) !important;
}

.text-l-brown {
    color: var(--light-brown) !important;
}

.bg-l-brown {
    background-color: var(--light-brown) !important;
}

.text-d-brown {
    color: var(--dark-brown) !important;
}

.bg-d-brown {
    background-color: var(--dark-brown) !important;
}

body {
    background-color: var(--light-green) !important;
}

* {
    color: var(--primary-dark) !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px;
}

/****** CALL TO ACTION BUTTONS *******/

.cta-button {
    background-color: var(--light-brown);
    color: var(--primary-dark);
    border: var(--primary-dark) 2px solid !important;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.cta-button:hover, .cta-button:active {
    background-color: var(--dark-brown) !important;
    color: var(--light-green) !important;
}

.cta-button:focus, .cta-button:active {
    box-shadow: 0 0 0 .25rem #ffa826b6 !important;
}

.cta-button-secondary {
    background-color: var(--light-green);
    border: var(--primary-dark) 2px solid;
    color: var(--primary-dark);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.cta-button-secondary:hover, .cta-button-secondary:active {
    background-color: var(--primary-dark) !important;
    color: var(--light-green) !important;
}

.add-variant-button:hover, .add-variant-button:active {
    background-color: var(--light-green) !important;
    color: var(--primary-dark) !important;
}

.cta-button-secondary:focus, .cta-button-secondary:active {
    box-shadow: 0 0 0 .25rem #1a201aa1;
}

/***** override bootstrap button and input box-shadow *****/

.btn-check:focus+.btn, .btn:focus {
    box-shadow: 0 0 0 .25rem #97b498bb;
}

.form-control:focus, .form-select:focus {
    color: var(--primary-dark);
    background-color: var(--light-green);
    border-color: var(--dark-green);
    outline: 0;
    box-shadow: 0 0 0 .25rem #97b498bb;
}

/* **** GLOBAL STYLES **** */

* {
    padding: 0;
    margin: 0;
}

.mh-100vh {
    min-height: 100vh;
}

/***** NAVBAR *****/

.dropdown-menu {
    background-color: var(--primary-green) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--dark-green) !important;
}

.search-dropdown-form {
    width: 20em;
}

/****** MESSAGES ****** */

.message-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

@media only screen and (max-width: 500px) {
    .toast {
        width: 280px;
    }
}

/***** HOME PAGE ******/

.home-banner {
    background: url('/media/home-banner.jpg') no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 60vh;
}

.home-banner-text p {
    font-size: 2rem;
}

.home-banner-text {
    background-color: #c8e6c9b8;
}

.carousel-card-list-group {
    min-height: 3rem;
}

/* ***** PRODUCT PAGES ****** */

.product-image {
    max-height: 15rem;
}

.product-card-image {
    object-fit: contain;
    width: 100%;
    max-height: 10rem;
}

.product-image-placeholder {
    font-size: 10rem;
}

/* ***** SHOPPING CART ***** */
.cart-quantity-input {
    width: 2.5rem;
}