{% extends "base.html" %} {% load static %} {% block main_content %}
<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col-12 col-md-10 col-xl-8">
            <div class="card bg-l-green border-d-green border border-3 p-2 w-auto">
                <div class="row">
                    <h5 class="text-center">
                        ERROR 500
                    </h5>
                    <small class="text-center">
                        Server Error.
                    </small>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}