{% load crispy_forms_tags %}
{% load static %}
{% load check_group %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/8bdadb5ed1.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Farm To Fork{% block extra_title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-between">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'farmer-map' %}">Farmer Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'farmer-list' %}">Farmer List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'product-list' %}">Product List</a>
                    </li>
                    {% if request.user|has_group:'Farmers' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'product-create' %}">Create Product</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <a class="nav-link" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-search"></i>
            </a>
            <div class="dropdown-menu w-100" aria-labelledby="searchDropdown">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
            <a class="nav-link" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu w-100" aria-labelledby="accountDropdown">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' request.user.id %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile-edit' %}">Edit Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                {% endif %}
            </div>
            <a class="nav-link" href="{% url 'cart' %}">
                <i class="fas fa-shopping-basket"></i>
                {% if total %}
                <small>
                    €{{ total }}
                </small>
                {% endif %}
            </a>
        </div>
    </nav>

    {% if messages %}
    <div class="message-container">
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="container">
        {% block main_content %}
        {% endblock %}

    </div>
    </div>
    {% block body_end_js %}
    {% endblock %}
</body>

</html>