{% load crispy_forms_tags %}
{% load static %}
{% load check_group %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/8bdadb5ed1.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Farm To Fork{% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column h-100">
    <nav id="main-nav" class="navbar navbar-expand text-primary-dark bg-p-green">
        <div class="container-fluid container-xxl">
            <ul class="navbar-nav text-primary-dark w-100 d-none d-lg-flex me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'farmer-map' %}">Farmer Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'farmer-list' %}">Farmer List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'products' %}">Product List</a>
                </li>
                {% if request.user|has_group:'Farmers' %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'product-create' %}">Create Product</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav w-100">
                <li class="nav-item me-auto d-lg-none">
                    <div class="dropdown">
                        <button class="btn nav-link fs-3 px-4" type="button" id="navMenuDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-start border-d-green border border-2 position-absolute"
                            aria-labelledby="navMenuDropdown">
                            <li class="dropdown-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" href="{% url 'farmer-map' %}">Farmer Map</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" href="{% url 'farmer-list' %}">Farmer List</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" aria-current="page" href="{% url 'products' %}">Product
                                    List</a>
                            </li>
                            {% if request.user|has_group:'Farmers' %}
                            <li class="dropdown-item">
                                <a class="nav-link" aria-current="page" href="{% url 'product-create' %}">Create
                                    Product</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                <button class="d-xl-none ms-auto nav-item btn nav-link fs-3" type="button" id="mobileSearchDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-search"></i>
                </button>
                <div class="d-xl-none dropdown-menu mobile-search-dropdown-menu dropdown-menu-end border-d-green border border-2 position-absolute p-0"
                    aria-labelledby="mobileSearchDropdown">
                    <form class="mobile-search-dropdown-form p-2" method="GET" action="{% url 'products' %}">
                        <div class="input-group">
                            <input type="search" class="form-control search-input" name="q" placeholder="Search"
                                aria-label="Search" aria-describedby="search-button">
                            <button class="btn cta-button" type="submit" id="search-button">Go</button>
                        </div>
                    </form>
                </div>
                <li class="d-none d-xl-block ms-auto nav-item">
                    <div class="dropdown">
                        <button class="btn nav-link fs-3" type="button" id="searchDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-search"></i>
                        </button>
                        <div class="dropdown-menu search-dropdown-menu dropdown-menu-end border-d-green border border-2 position-absolute p-0"
                            aria-labelledby="searchDropdown">
                            <form class="search-dropdown-form p-2" method="GET" action="{% url 'products' %}">
                                <div class="input-group">
                                    <input type="search" class="form-control search-input" name="q" placeholder="Search"
                                        aria-label="Search" aria-describedby="search-button">
                                    <button class="btn cta-button" type="submit" id="search-button">Go</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn nav-link fs-3" type="button" id="accountDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end position-absolute border-d-green border border-2"
                        aria-labelledby="accountDropdown">
                        {% if request.user.is_authenticated %}
                        <li class="dropdown-item">
                            <a class="nav-link text-end" href="{% url 'orders' %}">My Orders</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-end" href="{% url 'profile' request.user.id %}">Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-end" href="{% url 'profile-edit' %}">Edit Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-end" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="dropdown-item">
                            <a class="nav-link text-end"
                                href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}">Login</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-end"
                                href="{% url 'account_signup' %}?next={{ request.get_full_path|urlencode }}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-3" href="{% url 'cart' %}">
                        <i class="fas fa-shopping-basket"></i>
                        {% if total %}
                        <small>
                            €{{ total }}
                        </small>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="message-container toast-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="container-fluid container-xxl">
        {% block main_content %}
        {% endblock %}
    </div>

    <footer class="bg-p-green mt-auto py-3">
        <div class="container-fluid container-xxl">
            <h5>Farm To Fork.</h5>
        </div>
    </footer>

    <script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl);
        })
        toastList.forEach((toast) => {
            toast.show();
        })
    </script>

    {% block body_end_js %}
    {% endblock %}
</body>

</html>