<button class="btn bg-p-green border-2 border-d-green" type="button" id="sortDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sort By: 
                        {% if sort == 'alpha' %}
                            {% if direction == 'asc' %}
                            Alphabetical, A-Z
                            {% else %}
                            Alphabetical, Z-A
                            {% endif %}
                        {% endif %}
                        {% if sort == 'date' %}
                            {% if direction == 'asc' %}
                            Oldest
                            {% else %}
                            Newest
                            {% endif %}
                        {% endif %}
                        <i class="fas fa-caret-down"></i>
                    </button>
<ul class="dropdown-menu dropdown-menu-end position-absolute border-d-green border border-2" aria-labelledby="sortDropdown">
    <li class="dropdown-item">
        <a class="nav-link text-end" href="{% url 'farmer-list' %}?sort=alpha&direction=asc">Alphabetical, A-Z</a>
    </li>
    <li class="dropdown-item">
        <a class="nav-link text-end" href="{% url 'farmer-list' %}?sort=alpha&direction=desc">Alphabetical, Z-A</a>
    </li>
    <li class="dropdown-item">
        <a class="nav-link text-end" href="{% url 'farmer-list' %}?sort=date&direction=desc">Newest</a>
    </li>
    <li class="dropdown-item">
        <a class="nav-link text-end" href="{% url 'farmer-list' %}?sort=date&direction=asc">Oldest</a>
    </li>
</ul>
