{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block main_content %}
<div class="col-auto">
    <form class="row gy-2 gx-3 align-items-center justify-content-center" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h3 class="text-center">Product Variants:</h3>
        {{ inlines.formset.management_form }}
        {% for formset in inlines %}
        {% crispy formset helper %}
        {% endfor %}
        <div class="col-12 text-center">
            <button type="button" class="btn btn-success w-auto">Add Variant</button>
        </div>
        <input class="btn btn-lg btn-primary w-auto mb-3" type="submit" value="Save" />
    </form>
</div>

{% block body_end_js %}

{% endblock %}
{% endblock %}