{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_js %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}
{% block extra_title %}
- Edit Product - {{ product.name }}
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row justify-content-center py-5">
        <h3 class="text-center pb-3 pt-2">
            Edit Product - {{ product.name }}
        </h3>
        <div class="col-auto">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <h3 class="text-center">Product Variants:</h3>
                {{ inlines.formset.management_form }}
                {% for formset in inlines %}
                {% crispy formset helper %}
                {% endfor %}

                <div class="text-center">
                    <input class="btn btn-lg cta-button w-auto mb-3" type="submit" value="Save" /><br>
                    <small class="text-center">A maximum of 10 variants can be added.</small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block body_end_js %}
<script type="text/javascript">
    $(function () {
        $('.formset-formgroup').formset({
            prefix: 'variants'
        });
    })
</script>
{% endblock %}