{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <form class="row gy-2 gx-3 align-items-center justify-content-center" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <h3 class="text-center">Product Variants:</h3>
                {{ inlines.formset.management_form }}
                {% for formset in inlines %}
                {% crispy formset helper %}
                {% endfor %}

                <input class="btn btn-lg btn-primary w-auto mb-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.formset-formgroup').formset({
            prefix: 'variants'
        });
    })
</script>
{% block body_end_js %}

{% endblock %}
{% endblock %}