{% extends "base.html" %} {% load static %} {% block main_content %}

<div class="row justify-content-center pt-6">
    <div class="col-auto">
        <h4>product list:</h4>
        <p>
        </p>
        <br>
        <ul>
            {% for item in product_list.values %}
            <li>
                <h5>
                    {{ item.product.name }} <small><a class="nav-link active" aria-current="page" href="{% url 'product-edit' item.product.id %}">Edit</a></small>
                </h5>
                <small>
                    created by: {{ item.product.created_by.profile.first_name }} {{ item.product.created_by.profile.last_name }}

                </small>
                <p>
                    {{ item.product.description }}
                </p>
            </li>
            <h6>Variants:</h6>
            <ul>
                {% for variant in item.variants %}
                <li>
                    €{{ variant.price }}
                    {{ variant.size }}
                    {{ variant.unit }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}