{% extends "base.html" %}
{% load static %}
{% load profiles_extras %}
{% block extra_title %}
- Browse Products
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="row justify-content-between pt-5 pb-1">
        {% if search_query %}
        <h6 class="text-center word-break">
            You searched for '{{ search_query|truncatechars:20 }}'
        </h6>
        {% endif %}
        <div class="col-auto text-start d-flex flex-column justify-content-end">
            <h5 class="text-start m-0">
                {{ product_list|length }} Product{{ product_list|length|pluralize }}
            </h5>
        </div>
        <div class="col-auto text-end">
            {% include 'includes/products/sort-products.html' %}
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center pb-3">
        {% for item in product_list %}
        {% include 'includes/products/product-list-card.html' %}
        {% endfor %}
    </div>
    {% if user_address_lat and user_address_long %}
    <input type="hidden" id="userAddressLat" value="{{ user_address_lat }}">
    <input type="hidden" id="userAddressLong" value="{{ user_address_long }}">
    {% endif %}
</div>
{% endblock %}
{% block body_end_js %}
<script src="{% static 'products/js/productSort.js' %}"></script>
{% endblock %}
