{% extends "base.html" %} {% load static %}
{% block main_content %}
<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col-12 col-md-10 col-xl-8">
            <div class="card bg-l-green border-d-green border border-3 p-2 w-auto">
                <div class="row justify-content-center">
                    <div class="card-title py-3 text-center">
                        <h3 class="text-center">
                            {{ product.name }}
                        </h3>
                        <small>Farmer:
                            <a href="{% url 'profile' product.created_by.id %}">
                                {{ product.created_by.profile.first_name }}
                                {{ product.created_by.profile.last_name }}
                            </a>
                        </small>
                    </div>
                    <div class="col-8 col-md-4 text-center">
                        {% if product.image %}
                        <img class="product-card-image img-fluid rounded product-image" src="{{ product.image.url }}"
                            alt="{{ product.name }}">
                        {% elif product.image_url %}
                        <img class="product-card-image img-fluid rounded product-image" src="{{ product.image_url }}"
                            alt="{{ product.name }}">
                        {% else %}
                        <img class="product-card-image img-fluid rounded product-image"
                            src="{{ MEDIA_URL }}product-image-placeholder.png" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row justify-content-center justify-content-md-start">
                            <p class="text-center text-md-start">
                                {{ product.description|default:"This product doesn't have a description yet." }}
                            </p>
                        </div>
                        <div class="col-auto">
                            <form class="form" action="{% url 'add-to-cart' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="variant-select">Select a size:</label>
                                    <select name="product_id" id="variant-select" size="{{ variants|length }}"
                                        class="form-select" aria-label="Product Variant Select" required>
                                        {% for variant in variants %}
                                        <option value="{{ variant.id }}">
                                            {{ variant.size|cut:".00" }}{{ variant.unit }},
                                            €{{ variant.price|cut:".00" }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="quantity-input">Quantity:</label>
                                    <input id="quantity-input" class="form-control form-control-sm" type="number"
                                        min="1" max="99" name="quantity" value=1 required>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <div class="text-center text-md-end">
                                    {% if product.created_by == request.user %}
                                    <a class="btn cta-button-secondary mb-2"
                                        href="{% url 'product-edit' product.id %}">Edit Product</a>
                                    {% else %}
                                    <input type="submit" class="btn cta-button mb-2" value="Add to Cart">
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}